.header-content {
    overflow: hidden;
}

.created-time {
    font-size: 12px;
    color: #9cabab;
    font-style: italic;
    float: left;
}

.check-todos {
    float: right;
    font-size: 16px;
    color: #666;
    cursor: pointer;
}

.todo.done {
    text-decoration: line-through;
}

.remove-todo {
    color: #ff6d35;
    cursor: pointer;
    font-style: italic;
    margin: -5px 0;

}